<p>
 user dashboard works!
</p>

<a href="#" data-toggle="tooltip" title="Tooltip Hooray!">Hover over me for Tooltip  example!!.</a>

<br />

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>

  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <button type="button" class="btn btn-primary">Primary <span class="badge">7</span></button>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>


<br />

<hr />

<div class="panel panel-default">
  <div class="panel-heading">Test jQuery</div>
  <div class="panel-body">

    <div id="divTest">
      value from component: {{result}}
    </div>

    <button (click)="toggleTitle()"> click here to test jQuery</button>

  </div>
</div>
